<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crud_firebase_kotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crudfirebasekotlin">
        <activity
            android:name=".DocenteListActivity"
            android:exported="true" />
        <activity
            android:name=".EscuelaListActivity"
            android:exported="true" />
        <activity
            android:name=".EditDocenteActivity"
            android:exported="true" />
        <activity
            android:name=".EditEscuelaActivity"
            android:exported="true" />
        <activity
            android:name=".AddDocenteActivity"
            android:exported="true" />
        <activity
            android:name=".AddEscuelaActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".EscuelaActivity"
            android:exported="true" />
        <activity
            android:name=".DocenteActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>